# User Testing Report

User testing was conducted by Chris Chan on October 22nd, 2014 between the times of 3:15pm and 6:00pm with the following participants:

- Anna Odeh
- Keisha Chamberlain
- Kayla Tuor

## Tasks

1. find articles on bike safety
2. find an article on chain care
3. find an article about mountain biking techniques

---

## Individual Results & Observations

### Anna Odeh

- User had some confusion of which nav categories certain articles would be found under
- User didn't seem to connect with the key words used on the nav (would chain care be under *repair* or *adjust*? Why not maintenance? techniques?)
- User did not know very much at all about bikes, and could not navigate through categories to locate the desired tasks
- The search bar would have been perfect for the user, but it was apparently not obvious enough to think of using more than the navigation buttons.

### Keisha Chamberlain

- User was unsure if bike safety would be filed under *repair* or *adjust*
- User correctly navigated to chain care and mountain biking techniques, but seemed uncertain
- User had difficulty using the key words in the nav buttons to discriminate content
- User did not think of using the search bar, although it would have been ideal

### Kayla Tuor

- User had some confusion of which nav categories certain articles would be found under
- Key words were not specific enough to be effective for the user.
- The user has very little knowledge of bikes, to the extent that she didn't have a clue what an adjustments or repair page would contain.
- User didn't use the searchbar, though it would have been helpful.

---

## Trends

### Critical, Needs Fixing, Unable to Complete

- Content categories need to be re-named or divided differently to tailor better to users so they don't have to guess what content is hidden behind the umbrella of *repair*, *adjust*, or *choose*.

### Serious, Causes Frustration, May Hinder Completion

- None of the users used the searchbar, which should be one of the fastest and keyword-friendly ways of navigation

### Minor, Annoying, Won’t Hinder Completion

- n/a