#lost-img {
	background-color: #5c4b51;
	margin: 0 auto;
	overflow: none;
}

.lost-txt {
	/*display: none;*/
	max-height: 0px;
	opacity: 0;
}


@media only screen and (min-width: 30em){

	.you-lost-img {
		display: inline;
		width: 100%;
	}

}
