#lost-img {
	background-color: rgba(16,95,128,.8);
	padding: 2%;
	overflow: hidden;
}


@media only screen and (min-width: 30em){

	.you-lost-img {
		display: inline;
		float: left;
		width: 40%;
	}

	.you-lost-txt {
		display: inline;
		float: right;
		width: 45%;
	}

}
