/*----------------------------main content---------------------------------*/

h1,
h2,
h3 {
	color: #81cb9f;
	font-family: oswald, sans-serif;
	font-weight: 400;
	text-transform: uppercase;

	/*text-shadow: 3px -3px 0px rgba(0, 0, 0, .5);*/
}

h1 {
	font-size: 2.5rem;
	line-height: 3rem;
}

h2 {
	font-size: 2rem;
	line-height: 2.5rem;
}

h3 {
	font-size: 1.25rem;
	line-height: 1.25rem;
}


.lede a {
	padding: 4px;
	/*line-height: 1.65rem;*/
	background-color: #81cb9f;
	text-decoration: none;
	color: #222;
}

.main-content a:hover,
.main-content a:focus,
.main-content a:active {
	background-color: #5c9e77;
}

@media only screen and (min-width: 30em){

	.lede {
		font-size: 1.75rem;
		line-height: 1.25em;
	}

}

@media only screen and (min-width: 45em){

	h1 {
		font-size: 4rem;
		line-height: 1.125em;
	}

	.lede {
		font-size: 2.75rem;
		line-height: 1.25em;
	}

}

@media only screen and (min-width: 75em) {

	header {
		float: left;
		height: 100;
		width: 15%;

		border-bottom: none;
	}

	.main-content,
	.grid {
		float: right;
		width: 80%;
	}
}

/*-------------------table of contents (article pages)---------------------*/

	.contents {
		clear: both;
	}

	.contents ol {
		padding-left: 0;
	}

