---
layout: default
title: Leisure bikes · Cyclopedia
---


		<h1>Leisure Bikes</h1>
		<p>Bicycles are used for recreation at all ages. Bicycle touring, also known as cyclotourism, involves touring and exploration or sightseeing by bicycle for leisure. A brevet or randonnée is an organized long-distance ride.</p>
		<p>Many cycling clubs hold organized rides in which bicyclists of all levels participate. The typical organized ride starts with a large group of riders, called the mass, bunch or even peloton. This will thin out over the course of the ride. Many riders choose to ride together in groups of the same skill level to take advantage of drafting.</p>

		<div class="bike-grid grid">
			<div class="unit unit-s-1 unit-m-1 unit-l-2-3">
				<h2 class="title-banner">Examples</h2>
			</div>

			{% for bikes in site.categories.sport %}

				{% include bike-grid.html %}

			{% endfor %}

		</div>
