---
layout: default
title: Sport bikes · Cyclopedia
---


		<h1>Sport Bikes</h1>
		<p>Bicycle racing is a competition sport in which various types of bicycles are used. There are several categories of bicycle racing including road bicycle racing, time trialling, cyclo-cross, mountain bike racing, track cycling, BMX, mountain bike trials, and cycle speedway. Bicycle racing is recognised as an Olympic sport. The Union Cycliste Internationale is the world governing body for cycling and international competitive cycling events.
Bicycle races are popular all over the world, especially in Europe. The countries most devoted to bicycle racing include Belgium, Denmark, France, Germany, Italy, the Netherlands, Spain and Switzerland. Other countries with international standing include Australia, Luxembourg, the United Kingdom and the United States.</p>


		<div class="bike-grid grid">
			<div class="unit unit-s-1 unit-m-1 unit-l-2-3">
				<h2 class="title-banner">Examples</h2>
			</div>

			{% for bikes in site.categories.sport %}

				{% include bike-grid.html %}

			{% endfor %}

		</div>
