---
layout: default
title: Transport bikes · Cyclopedia
---


		<h1>Transport Bikes</h1>
		<p>Utility cycling encompasses any cycling done simply as a means of transport rather than as a sport or leisure activity. It is the original and most common type of cycling in the world.</p>
		<p>Utility or "transportational" cycling generally involves travelling short and medium distances (several kilometres, not uncommonly 3-15 kilometers one way, or somewhat longer), often in an urban environment. It includes commuting (i.e. going to work, school or university), going shopping and running errands, as well as heading out to see friends and family or for other social activities.</p>

		<div class="bike-grid grid">
			<div class="unit unit-s-1 unit-m-1 unit-l-2-3">
				<h2 class="title-banner">Examples</h2>
			</div>

			{% for bikes in site.categories.sport %}

				{% include bike-grid.html %}

			{% endfor %}

		</div>
