<!doctype html>
<html>
<head>
	<meta charset="UTF-8">
	<title>{{page.title}}</title>

	<!-- Facebook -->
	<meta property="og:type" content="article">
	<meta property="og:title" content="Bicycle Companion · Learn to repair, adjust, and choose bikes">
	<meta property="og:url" content="http://chris-noel-chan.github.io/large-data-website/index.html">
	<!-- Image size: minimum 200x200; recommended 1500x1500 -->
	<meta property="og:image" content="http://chris-noel-chan.github.io/large-data-website/img/rufus.svg">
	<meta property="og:description" content="Rufus fetches bike information for you to repair, adjust, and choose a suitable two-wheeled companion.">
	<meta property="og:site_name" content="Bicycle Companion">

<!-- Twitter -->
	<meta property="twitter:card" content="summary">
	<meta property="twitter:title" content="Bicycle Companion · Learn to repair, adjust, and choose bikes">
	<meta property="twitter:url" content="http://chris-noel-chan.github.io/large-data-website/index.html">
	<!-- Image size: 120x120 -->
	<meta property="twitter:image" content="http://chris-noel-chan.github.io/large-data-website/img/rufus.svg">
	<meta property="twitter:description" content="Rufus fetches bike information for you to repair, adjust, and choose a suitable two-wheeled companion.">


	<link href="{{site.baseurl}}/css/normalize.css" rel="stylesheet">
	<link href="{{site.baseurl}}/css/general.css" rel="stylesheet">
	<link href='http://fonts.googleapis.com/css?family=Oswald:300,400,700' rel='stylesheet' type='text/css'>
	<link href="{{site.baseurl}}/css/grid.css" rel="stylesheet">

	<meta name="handheldfriendly" content="true">
	<meta name="mobileoptimized" content="240">
	<meta name="viewport" content="width=device-width,initial-scale=1">

	<meta name="description" content="Rufus fetches bike information for you to repair, adjust, and choose a suitable two-wheeled companion.">

	<script src="{{site.baseurl}}/js/modernizr.js"></script>

</head>

<body>

	<ul class="skiplinks">
		<li><a href="#main">Skip to primary content</a></li>
		<li><a href="#searchbar">Skip to searchbar</a></li>
		<li><a href="#navigation">Skip to navigation</a></li>
	</ul>

	<header id="header">

		<a href="../index.html" rel="home"><img class="logo" src="{{site.baseurl}}/img/cyclopedia.svg" alt="cyclopedia logo"></a>
		{% include nav.html navclass='nav-top'%}

	</header>

	<div role="main" id="main" class="main-content">

	{{content}}

	</div>

	<footer>
		{% include nav.html navclass='nav-bottom'%}
		<p role="contentinfo">© Chris Chan, BSD-3 Clause License</p>
	</footer>

	<script src="js/$.min.js"></script>
	<script src="js/navigation.js"></script>

	<script>
	  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
	  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
	  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
	  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

	  ga('create', 'UA-46026628-1', 'chris-noel-chan.github.io');
	  ga('send', 'pageview');
	</script>

</body>
</html>
